@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    An example of using a font
*/
@font-face {
    font-family: 'Virus';
    src: url('virus.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bubble';
    src: url('shine_bubble.ttf');
    font-weight: normal;
    font-style: normal;
}

/* 
    Scene classes
*/
.scene {
    width: 100%;
    height: 100vh;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    top: 0;
    left: 0;
}

.scene-active {
    opacity: 1.0;
    z-index: auto;
}

.scene-inactive {
    opacity: 0;
    z-index: -10;
}

/* 
    Dialog Modal Stuff 
*/
dialog {
    @apply bg-cyan-500 rounded-lg max-w-screen-md w-11/12;

    display: block;
    opacity: 0;
    pointer-events: none;
    transition: ease-in-out;
    transform: translateY(-5rem);
    transition-duration: 300ms;
    inset: 0px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

dialog::-webkit-scrollbar {
    display: none;
}

dialog[open] {
    transform: translateY(0rem);
    opacity: 1;
    pointer-events: all;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

/* 
    Disabled items
*/

input {
    @apply p-2 outline-none border-2 hover:border-pink-300 focus:border-pink-400 rounded text-black accent-pink-400;
}

input:disabled, button:disabled {
    opacity: 0.25;
}

/*
    Buttons
*/
button {
    @apply p-2 rounded mx-auto bg-gradient-to-r from-cyan-300 to-pink-400 min-w-40 hover:scale-105 transition ease-in-out duration-100 shadow-md;
}

.scroll::-webkit-scrollbar {
    width: 16px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}