@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    An example of using a font
*/
@font-face {
    font-family: 'Virus';
    src: url('virus.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bubble';
    src: url('shine_bubble.ttf');
    font-weight: normal;
    font-style: normal;
}

/* 
    Scene classes
*/
.scene {
    width: 100%;
    height: 100vh;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    top: 0;
    left: 0;
}

.scene-active {
    opacity: 1.0;
    z-index: auto;
}

.scene-inactive {
    opacity: 0;
    z-index: -10;
}

/* 
    Dialog Modal Stuff 
*/
dialog {
    @apply bg-cyan-500 rounded-lg max-w-screen-md w-11/12;

    display: block;
    opacity: 0;
    pointer-events: none;
    transition: ease-in-out;
    transform: translateY(-5rem);
    transition-duration: 300ms;
    inset: 0px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

dialog::-webkit-scrollbar {
    display: none;
}

dialog[open] {
    transform: translateY(0rem);
    opacity: 1;
    pointer-events: all;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

/* 
    Disabled items
*/

input {
    @apply p-2 outline-none border-2 hover:border-pink-300 focus:border-pink-400 rounded text-black accent-pink-400;
}

input:disabled, button:disabled {
    opacity: 0.25;
}

/*
    Buttons
*/
button {
    @apply p-2 rounded mx-auto bg-gradient-to-r from-cyan-300 to-pink-400 min-w-40 hover:scale-105 transition ease-in-out duration-100 shadow-md;
}

.scroll::-webkit-scrollbar {
    width: 16px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* 
    Title Pulse
*/
@keyframes pulse {
    0% { scale: 100%; }
    50% { scale: 120%; }
    100% { scale: 100%; }
}

@keyframes pulse-sm {
    0% { scale: 100%; }
    50% { scale: 125%; }
    100% { scale: 100%; }
}

@keyframes float {
    0% {
        opacity: 0;
        transform: translateY(50%)
    }

    10% {
        opacity: 0.25;
    }

    90% {
        transform: translateY(calc(-150vh));
    }

    100% {
        opacity: 0;
    }

}

@keyframes burst {
    from {
        opacity: 1;
        scale: 100%;
    }

    to {
        opacity: 0;
        scale: 200%;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.pulse-small {
    animation: pulse-sm 5s ease-in-out 0s infinite normal forwards;
}

.title-pulse {
    animation: pulse 2s ease-in-out 0s infinite normal forwards;
}

.general-pulse {
    animation: pulse 5s ease-in-out 0s infinite normal forwards;
}

/* 
    Bubble
*/

.bubble {
    border-radius: 50%;
    position: relative;

    background: radial-gradient(
        circle at 75% 30%,
        white 5px,
        aqua 8%,
        darkblue 60%,
        aqua 100%
    );
    box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
        inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #fde9ea,
        inset 0 50px 140px #fde9ea, 0 0 90px #fff;
}

.floating-bubble {
    animation-name: float;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.slow-reveal {
    animation-name: reveal;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.slow-fade {
    animation-name: reveal;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}