<dialog x-ref="modalHowToPlay">
    <div class="flex text-white">
        <div class="flex flex-col p-6 w-full h-full gap-2 md:gap-3">
            <div class="flex flex-row justify-between w-full">
                <h4 class="bold text-xl md:text-4xl my-auto">How To Play</h4>
                <button x-on:click="$refs.modalHowToPlay.close()" class="rounded-full bg-none lg:opacity-50 lg:hover:opacity-100 min-w-0 w-12 h-12 mr-0 text-lg">
                    X
                </button>
            </div>
            <hr>
            <div class="min-h-[50hv] h-[10000px] max-h-[65vh] md:h-fit md:max-h-[55vh] overflow-y-scroll md:overflow-y-auto">
                <div class="flex flex-col gap-4 relative h-full">
                    <p class="text-base md:text-lg">
                        Hi bubble buddie! Welcome to Very Bubbly Friends! This is a trivia game where players pop bubbles to get questions and compete with others to get the most points.
                    </p>
                    <p class="text-base md:text-lg">
                        Create a game with a device everyone can see, or join a game on any device. When the bubbles come, map your tapping on your device to the bubbles on the screen. When you hit a bubble, a question will come on your device. The bigger the bubble, the harder the question, but the more points you earn! 
                    </p>
                    <p class="text-base md:text-lg">
                        Answer correctly, and you earn points based on the difficuly, but be careful; getting a question wrong will make you lose a point.
                    </p>
                    <p class="text-base md:text-lg">
                        The player with the most points at the end of the game wins!
                    </p>
                </div>
            </div>
            <hr>
            <div class="w-full flex flex-row justify-between m-auto">
                <div></div>
                <button x-on:click="$refs.modalHowToPlay.close()">Close</button>
            </div>
        </div>
    </div>
</dialog>