<div class="scene" x-bind:class="isCurrentScene('lobby') ? 'scene-active' : 'scene-inactive'">
    <template x-if="gameState">
        <div class="flex flex-col w-full h-screen relative">
            <div class="m-auto w-11/12 max-w-screen-xl min-h-[80vh] bg-cyan-400 border-2 border-cyan-500 drop-shadow-lg flex flex-col gap-8 relative mx-auto">
                <h3 class="text-xl md:text-4xl text-center my-3 mx-auto" x-text="gameState.name"></h3>
                <div class="flex flex-wrap gap-12 max-h-[50vh] scroll w-11/12 mx-auto">
                    <template x-for="player in gameState.players">
                        <span x-text="player.name" class="md:text-lg"></span>
                    </template>
                </div>
                <div class="absolute bottom-3 w-full flex">
                    <template x-if="gameCreator">
                        <button x-bind:disabled="gameState.players.length < 2" class="mx-auto" x-on:click="startGame()">Start</button>
                    </template>
                    <!-- TODO add cancel button -->
                </div>
            </div>
        </div>
    </template>
</div>