<div class="scene" x-bind:class="isCurrentScene('gameController') ? 'scene-active' : 'scene-inactive'">
    <template x-if="player">
        <div class="flex flex-col w-full h-screen relative" x-on:click="sendClick">
            <span class="text-lg m-auto opacity-50">POP SOME BUBBLES!</span>
            <span class="absolute rounded-full w-16 h-16 bottom-3 right-3 border-2 border-black" x-bind:style="{
                'background-color': player.color
            }"></span>
        </div>
    </template>
</div>