<div class="scene" x-bind:class="isCurrentScene('gameList') ? 'scene-active' : 'scene-inactive'">
    <div class="flex flex-col w-full h-screen relative">
        <div class="m-auto w-11/12 max-w-screen-xl min-h-[90vh] bg-cyan-400/80 border-2 border-cyan-500 drop-shadow-lg flex flex-col gap-8 relative">
            <h3 class="text-xl md:text-4xl xl:text-6xl text-center my-3 mx-auto text-shadow">Games</h3>
            <div class="flex w-full overflow-y-scroll max-h-[80vh] mx-auto scroll relative">
                <table class="w-full mx-auto">
                    <thead class="sticky top-0">
                        <tr class="bg-cyan-800">
                            <th class="text-sm md:text-base min-w-32 text-left py-3  pl-3">Room</th>
                            <th class="text-sm md:text-base w-20 md:w-32 text-center py-3">Pl<span class="hidden md:inline">ayers</span></th>
                            <th class="text-sm md:text-base w-20 md:w-32 text-center py-3">R<span class="hidden md:inline">oun</span>ds</th>
                            <th class="text-sm md:text-base w-20 md:w-32 text-center py-3"><span class="hidden md:inline">Round </span>Dur<span class="hidden md:inline">ation</span></th>
                            <th class="text-sm md:text-base min-w-14 md:w-24 lg:w-44 text-center py-3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="game in gameList">
                            <tr class="odd:bg-cyan-500 even:bg-cyan-600">
                                <td class="text-sm md:text-base text-left py-3 pl-3">
                                    <span x-text="game.name" class="my-auto"></span>
                                    <template x-if="game.password">
                                        <span class="my-auto">
                                            &#x1F512;
                                        </span>
                                    </template>
                                </td>
                                <td class="text-sm md:text-base text-center py-3" x-text="`${pad(game.players.length,2)}/${game.max_players}`"></td>
                                <td class="text-sm md:text-base text-center py-3 " x-text="pad(game.rounds, 2)"></td>
                                <td class="text-sm md:text-base text-center py-3" x-text="pad(game.round_duration, 3)"></td>
                                <td class="text-sm md:text-base text-center py-3">
                                    <button class="text-xs md:text-base min-w-12 md:min-w-20 lg:min-w-40" x-on:click="joinGame(game)" x-bind:disabled="game.players.length === game.max_players">Join</button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>