<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/app.css') }}">
</head>
<body>
    <div class="flex flex-col w-full min-h-screen bg-black text-white">
        {% block body %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='dist/app.js') }}"></script>
</body>
</html>